/* Bruker Arial, Helvetica, sans-serif som standardfont for hele nettsiden og nullstiller margen (margin) til 0. */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Styling for overskrift og navigasjonsmeny i header */
header {
    text-align: center; /* Senterjusterer teksten i header. */
    background-image: url("img/rocks-8208314_640.jpg"); /* Bakgrunnsbilde for header. */
    background-size: cover; /* Skalerer bakgrunnsbildet for å dekke hele header-området. */
    padding: 0 0 1rem 0; /* Legger til padding (avstand) til bunnen av header. */
}

/* Styling for navigasjonsmenyen i header */
header nav ul {
    margin: 1rem 0 0 0; /* Legger til margen (margin) til toppen av navigasjonsmenyen. */
    padding: 0; /* Nullstiller padding (avstand) for å fjerne overflødig plass. */
}

/* Styling for lenker i navigasjonsmenyen */
header nav span a {
    font-weight: 900; /* Setter fontvekten til tykk (bold). */
    text-transform: uppercase; /* Gjør teksten til store bokstaver (uppercase). */
}

/* Styling for generelle lenker */
nav a {
    text-decoration: none; /* Fjerner understrekingen under lenkene. */
    color: #000; /* Setter teksten til svart farge (#000). */
    padding: 1rem; /* Legger til padding (avstand) rundt lenkene. */
    display: inline-block; /* Gjør lenkene til blokk-elementer som er side om side. */
}

/* Styling for hovedinnholdet i nettsiden */
main {
    text-align: center; /* Senterjusterer teksten i hovedinnholdet. */
}

/* Styling for overskrifter (h2) i seksjoner i hovedinnholdet */
main section h2 {
    margin: 2rem 0; /* Legger til margin (avstand) til toppen og bunnen av overskriftene. */
}

/* Styling for artikler (nyhetsartikler) i hovedinnholdet */
article {
    max-width: 400px; /* Setter maksimal bredde for artiklene til 400 piksler. */
    min-width: 250px; /* Setter minimal bredde for artiklene til 250 piksler. */
    width: 100%; /* Gjør artiklene 100% brede for responsivt design. */
    margin: 0 auto; /* Senterjusterer artiklene horisontalt ved å bruke margin: auto. */
}

/* Styling for bilder i artiklene */
main section article img {
    width: 100%; /* Gjør bildene 100% brede for å tilpasse seg foreldrelementet. */
}